textarea {
    width: 500px;
    height: 200px;
}

body {
    padding-top: 15%;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    height: 40%;
    padding-top: 2%;
    margin: auto;
}

#text {
    width: 80%;
    min-width: 50%;
}

#btn-container {
    display: flex;
    width: 500px;
    height: 70px;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.btn-holder {
    justify-content: center;
    align-items: center;
    width: 30%;
    align-self: flex-start;
}

.btn {
    width: 100%;
}